.ex01 {
    background-image: url('../images/back01.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 40rem;
    margin: 2rem 5rem;
    text-align: center;
}

.ex01 div {
    background-color: white;
    width: 25rem;
    opacity: 0.4;
}