/*
Theme Name: HoneyPress
Theme URI: https://spicethemes.com/honeypress-wordpress-theme/
Author: spicethemes
Author URI: https://spicethemes.com
Description: HoneyPress is a lightweight, elegant and fully featured theme, crafted for businesses, magazines, newspaper, personal blogs, online shops, restaurants, wedding planners, gyms, and more. HoneyPress has special features like a slider banner, testimonials, services, and blogs. It's fully responsive and compatible with any device. Easy to use and implement, HoneyPress is also compatible with WooCommerce. You can easily import dummy data with the SpiceBox plugin.
Version: 2.3.2
Requires at least: 4.5
Tested up to: 5.8
Requires PHP: 5.4
Tags: one-column, two-columns, right-sidebar, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, sticky-post, threaded-comments, translation-ready, rtl-language-support, e-commerce
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: honeypress
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Common
2.0 Forms
3.0 Buttons
4.0 Lists
5.0 Tables
6.0 Links
7.0	Header Contact Details
8.0 Woocommerce Header Cart
9.0 Banner Section
10.0 Next Preview Button
11.0 Section Header
12.0 Mixed Classes
13.0 Section Module
14.0 Service Section
15.0 Testimonial Section
16.0 Blog Section
   16.1 Blog Meta
17.0 Blog Single
18.0 Shop and product section
19.0 Widgets
	19.1 Footer Section & Widgets
	19.2 Footer copyright
20.0 Page section
21.0 Contact
22.0 404 ERROR PAGE
23.0 Mobile Header Responsive
24.0 Alignment
25.0 Accessibility
26.0 Other
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Common
--------------------------------------------------------------*/
html {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
}
html { font-size: 16px; }
@media (min-width: 768px) and (max-width: 991px) {
	html { font-size: 14px; }
}
@media (min-width: 200px) and (max-width: 768px) {
	html { font-size: 12px; }
}

body,
button,
input,
select,
textarea {
	color: #333333;
	font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
	line-height: 1.875;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3,
h4, h5, h6 {
	clear: both;
	line-height: 1.5;
	margin: 0 0 1.875rem;
	color: #061018;
	font-weight: 700;
}
body .section-module .section-header h2{color: #061018;}
h1 { font-size: 2.250rem; /* 36px */ }
h2 { font-size: 1.875rem; /* 30px */ }
h3 { font-size: 1.500rem; /* 24px */ }
h4 { font-size: 1.250rem; /* 20px */ }
h5 { font-size: 1.000rem; /* 16px */ }
h6 { font-size: 0.875rem; /* 14px */ }

p { margin: 0 0 1.6rem; padding: 0; }
p:last-child { margin-bottom: 0rem; padding: 0; }

dfn, cite, em, i { font-style: italic; }

blockquote {
	background-color: #f5f6fa;
	font-size: 1.125rem;
	font-style: normal;
	margin: 0 0 1.6rem;
	overflow: hidden;
	position: relative;
	padding: 1.25rem 1.563rem;
	quotes: "" "";
	color: #333333;
	font-weight: 400;
	border-left: 4px solid #2d6ef8;
}

blockquote cite { color: #061018; font-size: 1.000rem; display: block; font-style: normal; font-weight: 600; margin-top: 0.5rem; }

q { quotes: "“" "”" "‘" "’"; }

blockquote:before, blockquote:after { content: ""; }

blockquote:before {
	content: '\f10d';
	font-family: 'FontAwesome';
	color: rgba(45, 110, 248, 0.15);
	font-size: 6.875rem;
	line-height: normal;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0;
	text-align: center;
	z-index: 1;
}

address { margin: 0 0 1.6rem; line-height: 2; }

pre {
	background: #eee;
	font-size: 1.000rem;
	margin-bottom: 0 0 1.6rem;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

hr { background-color: #eceff3; border: 0; height: 1px; margin-bottom: 1.6rem; }

code, kbd, tt, var { font-size: 1.000rem; }

abbr, acronym { border-bottom: 1px dotted #666; cursor: help; }

mark, ins { background: #eee; text-decoration: none; }

big { font-size: 125%; }

iframe { border: 0; }

#wrapper { background-color: #ffffff; margin: 0px auto; }

/*--------------------------------------------------------------
2.0 Forms
--------------------------------------------------------------*/

label { color: #333333; display: block; font-weight: 700; margin-bottom: 0.5rem; }
fieldset { margin-bottom: 1em; }
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #333333;
	background: #f5f6fa !important;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: none !important;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	display: block;
	padding: 0.7rem 1rem;
	width: 100%;
    outline: 0;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #333333;
	border-color: #061018;
	box-shadow: 0 0 0 0.063rem rgba(0,123,255,.25);
}
select {
	border: 1px solid #f3f3f3;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	height: 3em;
	max-width: 100%;
}
input[type="radio"],
input[type="checkbox"] {
	margin-right: 0.5em;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
	font-weight: 400;
}
button,
input[type="button"],
input[type="submit"] {
	background-color: #2d6ef8;
    border: 0;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.938rem;
    font-weight: 600;
    line-height: 1;
    padding: 1.25rem 2.813rem;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}
input + button,
input + input[type="button"],
input + input[type="submit"] {
	padding: 0.75em 2em;
}
button.secondary,
input[type="reset"],
input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary {
	background-color: #ddd;
	color: #222;
}
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #061018;
}
button.secondary:hover,
button.secondary:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"].secondary:hover,
input[type="button"].secondary:focus,
input[type="reset"].secondary:hover,
input[type="reset"].secondary:focus,
input[type="submit"].secondary:hover,
input[type="submit"].secondary:focus {
	background: #bbb;
}

/* Placeholder text color */
::-webkit-input-placeholder { color: #333333; }
:-moz-placeholder { color: #333333; }
::-moz-placeholder { color: #333333; }
:-ms-input-placeholder { color: #333333; }


/*===================================================================================*/
/*	3.0 Buttons
/*===================================================================================*/

.btn-small { min-width: 10rem; font-size: 0.938rem; padding: 0.813rem 2.5rem; }
.btn-ex-small { min-width: 9rem; font-size: 1.000rem; padding: 9px 35px; }
.btn-small, .btn-ex-small {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    position: relative;
    letter-spacing: 0;
    border-radius: 50px;
    text-align: center;
    transition: .3s;
    font-weight: 600;
}
.btn-combo:focus, .btn-small:focus,.btn-light.focus,.btn-success:focus, .btn-light:focus {
    box-shadow: none;
    outline: thin dotted !important;
     outline-color: #fff;
}
.btn-default { background: #2d6ef8; color: #ffffff; }
.btn-default:hover,.btn-default:focus { background: #ffffff; color: #061018; }

.btn-light { background: #ffffff; color: #061018; }
.btn-light:hover,.btn-light:focus { background: #2d6ef8; color: #ffffff; outline-color: #000000 !important;}

.btn-default-dark { background: #2d6ef8; color: #ffffff; }
.btn-default-dark:hover,.btn-default-dark:focus { background: #061018; color: #fff !important;outline-color: #000000 !important; }

.btn-border { background: #ffffff; color: #061018; border: 2px solid #2d6ef8; }
.btn-border:hover,.btn-border:focus { background: #2d6ef8; color: #ffffff; border: 2px solid #2d6ef8;outline-color: #000000 !important; }


/*--------------------------------------------------------------
4.0 Lists
--------------------------------------------------------------*/

ul, ol { margin: 0 0px 1.6rem 1.125rem; padding: 0; }
ul { list-style: disc; }
ol { list-style: decimal; }
li > ul, li > ol { margin-bottom: 0; margin-left: 1.6rem; }
dt { font-weight: 700; }
dd { margin: 0 1.6rem 1.6rem; }


/*--------------------------------------------------------------
5.0 Tables
--------------------------------------------------------------*/

table { border-collapse: collapse; margin: 0 0 1.5em; width: 100%; word-wrap: break-word; }
thead th { border-bottom: 2px solid #bbb; padding-bottom: 0.5em; }
th { padding: 0.4em; text-align: left; }
tr { border-bottom: 1px solid #eee; }
td { padding: 0.4em; }
th:first-child, td:first-child { padding-left: 0; }
th:last-child, td:last-child { padding-right: 0; }


/*--------------------------------------------------------------
6.0 Links
--------------------------------------------------------------*/

a { color: #061018; text-decoration: none !important; transition: 0.3s; }
a:focus { outline: thin dotted; text-decoration: none !important; }
a:hover, a:active { color: #061018; outline: 0; }


/*===================================================================================*/
/* 7.0	Header Contact Details
/*===================================================================================*/

.header-sidebar {
	background: #2d6ef8;
	padding: 0;
	min-height: 40px;
}
.header-sidebar .widget {
    color: #fff;
    box-shadow: none;
    padding: 0;
	margin: 0;
}
.header-sidebar .widget:last-child {
	margin: 0;
}
.head-contact-info {
	padding: 0.313rem 0 0.313rem;
	margin: 0px;
	display: block;
}
.head-contact-info li {
	display: inline-block;
    margin: 0;
    padding-right: 1.875rem;
    color: #ffffff;
    font-size: 0.938rem;
	position: relative;
}
.header-sidebar.honeypress_social_switcher .container .row .col-lg-3 .widget .custom-social-icons {
    float: left !important;
}
.header-sidebar.honeypress_social_switcher .container .row .col-lg-9 .widget .head-contact-info {
    float: right !important;
}
.widget .head-contact-info li:last-child { padding-right: 0; }
.head-contact-info li a, .head-contact-info li a:hover, .head-contact-info li a:focus { color: #ffffff; }
.head-contact-info i { padding-right: 0.625rem; padding-left: 0.063rem; }

@media (max-width: 767px) {
	.header-sidebar { padding: 0.875rem 0; }
	.head-contact-info { text-align: center; }
	.head-contact-info li { margin: 0 0 0.625rem; }
	.custom-social-icons { text-align: center; }
	.custom-social-icons li { padding: 0; }
}
@media (max-width: 500px) {
	.head-contact-info li { display: block; padding-right: 0; }
	.head-contact-info li::after { display: none; }
}
@media (min-width: 768px) {
	.header-sidebar .widget .custom-social-icons { float: right; }

}

/*===================================================================================*/
/*	8.0 Woocommerce Header Cart
/*===================================================================================*/

.cart-header {
	line-height: 1;
    position: relative;
    background: transparent;
    border-radius: 0;
    display: inline-block;
	border-left: 1px solid #cfddea;
    padding-left: 30px;
}
.woocommerce .products .star-rating
{
	margin: 0 auto !important;
}
.cart-header > a.cart-icon {
    -wekbit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: inline-block;
    font-size: 1.375rem;
    line-height: 1.3;
    color: #061018;
    padding: 0;
}
.cart-header > a .cart-total {
	background: #2d6ef8;
    font-size: 0.688rem;
	line-height: 1.7;
    color: #ffffff;
	text-align: center;
	font-weight: 600;
    position: absolute;
	right: -14px;
    top: -5px;
	padding: 1px;
    width: 1.25rem;
    height: 1.25rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	-wekbit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
@media (max-width: 991px) {
	.cart-header {
		border-left: none;
		padding-left: 0px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.search-woo .cart-header {
    border-left: 1px solid #cfddea;
    padding-left: 30px;
	}
}


/*===================================================================================*/
/*	9.0 Banner Section
/*===================================================================================*/

.hero-section { position: relative; }
.hero-section .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}
#slider-carousel { margin: 0px; }
#slider-carousel .item, .back-img {
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    z-index: 0;
    background-size: cover;
	height: 750px;
}
.slider-caption { position: relative; display: table; height: 100%; z-index: 1; }
.caption-content { display: table-cell; vertical-align: middle; /*text-align: center;*/ }
.slider-caption .title { font-size: 4.063rem; line-height: 1.3; color: #ffffff; text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5); margin: 0 0 1.000rem; }
.slider-caption .description { font-size: 1.125rem; color: #ffffff; }
.slider-caption .btn-combo .btn-small { margin-left: 0.313rem; margin-right: 0.313rem; }
@media only screen and (max-width: 600px) {
.slider-caption .title { font-size: 3.000rem; margin: 0 0 1.000rem; }
.slider-caption br { display: none; }
.slider-caption .btn-combo { padding-top: 1.563rem; }
}


/*===================================================================================*/
/*	10.0 Next Preview Button
/*===================================================================================*/

.owl-carousel .owl-prev, .owl-carousel .owl-next {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
	color: #fff;
	font-size: 1.25rem;
	line-height: 3;
	padding: 0 !important;
	margin: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	position: absolute;
    top: 50%;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	width: 3.75rem;
	height: 3.75rem;
	border-radius: 50px;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
	text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.owl-carousel .owl-prev { left: 30px; }
.owl-carousel .owl-next { right: 30px; }
.owl-carousel:hover .owl-prev { left: 30px; opacity: 1; }
.owl-carousel:hover .owl-next { right: 30px; opacity: 1; }
.owl-carousel .owl-prev:hover,
.owl-carousel .owl-prev:focus {
	background-color: #2d6ef8;
	color: #fff;
}
.owl-carousel .owl-next:hover,
.owl-carousel .owl-next:focus {
	background-color: #2d6ef8;
	color: #fff;
}


/*===================================================================================*/
/*	11.0 SECTION HEADER
/*===================================================================================*/

.section-header { margin: 0 0 2.900rem; padding: 0; position: relative; }
.section-header .section-title { margin: 0rem; font-size: 2.250rem; }
.section-header .section-title-two { margin: 0rem; }
.section-header .section-subtitle { font-size: 1.000rem; font-weight: 600; color: #878e94; margin: 0 0 0.500rem; }
.section-separator.border-center,
.section-separator.border-center-two { margin-left: calc(50% - 27px); }
@media (min-width: 768px) { .section-separator.border-center-two { margin-left: 0rem; }}
@media (max-width: 768px) { .section-header .section-title-two { text-align: center; }}
.section-separator {
    position: relative;
    height: 5px;
    width: 30px;
    background: #2d6ef8;
    border-radius: 10px;
    margin-bottom: 1.100rem;
}
.section-separator::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    background: #2d6ef8;
    border-radius: 10px;
    right: -60%;
    top: 0;
}
.section-separator::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 25%;
    background: #2d6ef8;
    border-radius: 10px;
    right: -100%;
    top: 0;
}
.section-separator.white {
    background: #ffffff;
}
.section-separator.white::before {
    background: #ffffff;
}
.section-separator.white::after {
    background: #ffffff;
}


/*===================================================================================*/
/*	12.0 Mixed Classes
/*===================================================================================*/

.bg-grey { background-color: #f5f6fa !important; }
.bg-default { background-color: #2d6ef8 !important; }
.text-default { color: #2d6ef8; }
.text-dark { color: #061018 !important; }
.text-grey { color: #878e94 !important; }
@media (min-width: 768px) {
.s-l-space { padding-left: 0.625rem; }
.s-r-space { padding-right: 0.625rem; }
.w-9 { width: 90%; }
}
.entry-header .entry-title a:hover,
.entry-header .entry-title a:focus {
	color: #2d6ef8;
}


/*===================================================================================*/
/* 13.0	Section Module
/*===================================================================================*/

.section-module {
	position: relative;
	padding: 6.25rem 0 2.5rem;
	/* padding: 100px 0 40px;  */
}


/*===================================================================================*/
/*	14.0 Service Section
/*===================================================================================*/
.post .entry-content
{
	display: block;
    overflow: hidden;
    margin: 0px;
}
.services { background-color: #ffffff; }
.services .post { margin: 0; padding: 0 0 3.438rem; transition: 0.3s;  }
.services .post-thumbnail {
    position: relative;
    transition: all 0.2s;
    transition: all 0.2s;
    text-align: center;
    margin: 0 auto 1.550rem;
}
.services .post-thumbnail img { border-radius: 2px; }
.services .post-thumbnail a { position: relative; z-index: 1; color: #2d6ef8; }
.services .post-thumbnail i.fa {
	background: #2d6ef8;
    border-radius: 50%;
	color: #fff;
    width: 5rem;
    height: 5rem;
	font-size: 2.25rem;
	line-height: 1.8;
	padding: 5px;
	position: relative;
	box-shadow: #2d6ef8 0px 0px 0px 1px;
    border: 4px solid #fff;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.services .post:hover .post-thumbnail i.fa {
	background: #f5f6fa;
	color: #2d6ef8;
    border: 4px solid #fff;
	-webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
}
.services .entry-header { display: block; margin: 0 0 1.200rem; padding: 0; }
.services .entry-header .entry-title { margin: 0; }
.services .entry-header .entry-title a { position: relative; z-index: 1; }
.services .col-md-4:nth-child(3n+1){ clear:left; }
@media (min-width: 768px) and (max-width: 992px) {
	.services .col-md-4:nth-child(3n+1) { clear: none; }
	.services .col-sm-6:nth-child(2n+1) { clear:left; }
}


/*===================================================================================*/
/*	15.0 TESTIMONIAL SECTION
/*===================================================================================*/

.testimonial {
	height: 100%;
	margin: 0;
	overflow: hidden;
	width: 100%;
	position: relative;
}

@media (min-width: 768px){
	.testimonial {
		background: url('assets/images/map.png') 112% 50% no-repeat;
	}
}
.testmonial-block {
	background-color: transparent;
	border-left: none;
	position: relative;
	margin: 0;
	padding: 0 2.5rem 3.125rem 2.5rem;
	font-size: unset;
	border-left: none;
}
.section-module.testimonial .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.testmonial-block .avatar { margin: 0 auto 3.75rem; width: 6.563rem; height: 6.563rem; }
.testmonial-block .avatar img { border: 5px solid #fff; box-shadow: #2d6ef8 0px 0px 0px 1px; margin: 0.125rem; }
.description-box { background-color: #ffffff; border-radius: 0px; margin: 0 0 35px; padding: 30px; position: relative; min-height: 182px; }
.description-box:before {
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-top: 15px solid #ffffff;
	color: #00a7d1;
	right: 0;
	left: 30px;
	bottom: -15px;
	width: 0;
	height: 0;
	content: "";
	position: absolute;
	display: block;
}
.testmonial-block .entry-content { position: relative; margin: 0 0 1.25rem; }
.testmonial-block .entry-content:before,
.testmonial-block .entry-content.quote:before {
	content: '\f10d';
	font-family: 'FontAwesome';
	opacity: 0.15;
	font-size: 6.875rem;
    line-height: normal;
	position: absolute;
	top: -35px;
	left: 0;
    right: 0;
	margin: 0;
	z-index: 0;
}
.testmonial-block .entry-content:before {
    color: #fff;
}
.testmonial-block .entry-content.quote:before {
    color: #2d6ef8;
}
.testmonial-block .entry-content p { font-weight: 400; }
@media (max-width: 1200px) { .testmonial-block .entry-content p br { display: none; visibility: hidden; }}
.testmonial-block .name {
	color: #fff;
	font-size: 1.25rem;
	font-weight: 600;
	font-style: normal !important;
	margin: 0px 0 -3px;
	display: block;
}
.testmonial-block .designation { font-size: 1.000rem; color: #fff; }


/*===================================================================================*/
/*	16.0 Blog Section
/*===================================================================================*/

.blog { margin: 0; width: 100%; }
.blog .post {
	background-color: #ffffff;
	margin: 0 0 3.75rem;
	padding: 0;
	transition: all 0.3s;
}
.section-module.blog .standard-view article .entry-header
{
   word-wrap: break-word;
}
.section-module.services .post.text-center ul, .section-module.services .post.text-center ol
{
	text-align: -webkit-auto;
}
#attachment_754, #attachment_612
{
	max-width: 100%;
}
.img-fluid.wp-post-image
{
	width: unset !important;
}
.blog .post:hover, .site-content .blog .post:hover {
	background-color: #f5f6fa;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}
.post-content { padding: 1.563rem 1.875rem 2.000rem; }
.blog .post-thumbnail { position: relative;overflow: hidden; margin: 0; }
.blog .post-thumbnail img { width: 100%; opacity: 1; }
.blog .post-thumbnail img {
    -webkit-transition: transform 2s, filter 1.5s ease-in-out;
    -moz-transition: transform 2s, filter 1.5s ease-in-out;
    -o-transition: transform 2s, filter 1.5s ease-in-out;
    -ms-transition: transform 2s, filter 1.5s ease-in-out;
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
}
.media-body
{
 overflow: hidden;
}
.standard-view.blog-single .post img
{
	max-width: 100%;
	height: auto;
}
.standard-view.blog-single a:hover
{
	color: #2d6ef8;
}
.section-module.blog .standard-view .entry-content img
{
	max-width: 100%;
	height: auto;
}
.blog .post:hover .post-thumbnail img {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	transform: scale(1.15,1.15);
    -webkit-transform: scale(1.15,1.15);
    -moz-transform: scale(1.15,1.15);
    -ms-transform: scale(1.15,1.15);
    -o-transform: scale(1.15,1.15);
}

.blog .post .entry-header { margin: 0 0 0.563rem; }
.blog .post .entry-title, .blog .product .entry-title  { margin: 0; }

.wp-caption.alignnone, .wp-caption.aligncenter {

}

.blog.grid-view .post { margin: 0 0 2.188rem; }
.blog hr.b-space { margin: 0 0 3.75rem; }

.blog .list-view .post-thumbnail {
	width: 21.25rem;
	height: auto;
	margin-right: 2.188rem;
	float: left;
}
@media (max-width: 768px) {
	.blog .list-view .media { display: block; }
	.blog .list-view .post-thumbnail {
		width: 100%;
		margin-right: 2.188rem;
		float: none;
	}
}

.blog .standard-view .post, .blog .standard-view .page, .blog .standard-view .product, .blog .list-view .post {
	margin: 0 0 3.438rem;
    border-bottom: 1px solid #eceff3;
    padding: 0 0 2.5rem;
}
.blog .post.sticky, .blog .post.sticky:hover {
 background-color: #efefef !important
}
.blog .post.sticky .entry-meta,.blog .post.sticky .entry-header, .blog .post.sticky .entry-meta.mb-4, .blog .post.sticky .entry-content
{
	padding-left: 10px;
	padding-right: 10px;
}
.blog .standard-view .post:hover,
.blog .list-view .post:hover {
	background-color: transparent;
	box-shadow: none;
}
.blog .standard-view .post:last-child,
.blog .list-view .post:last-child {
	border-bottom: none;
	padding: 0;
}
.blog .standard-view .entry-meta .author a,
.blog .list-view .entry-meta .author a {
	color: #2d6ef8;
}
.blog-author.media .avatar img
{
border-radius: 50%!important;
}
.blog .standard-view .post .entry-title { font-size: 2.25rem; }
.blog .standard-view .entry-meta span:after {
    padding-left: 1.875rem;
    Padding-right: 1.875rem;
}
.blog .standard-view .more-link,
.blog .list-view .more-link {
	background-color: #fff;
    border: 2px solid #2d6ef8;
    border-radius: 50px;
    padding: 0.625rem 2.313rem;
    letter-spacing: 0.063rem;
	display: inline-block;
	margin: 1px;
}

.blog .standard-view .more-link:hover,
.blog .list-view .more-link:hover,.blog .standard-view .more-link:focus,
.blog .list-view .more-link:focus {
	background-color: #2d6ef8;
    border: 2px solid #2d6ef8;
	color: #fff;
	outline-color: #000000 !important;
}


/*===================================================================================*/
/*	16.1 Blog Meta
/*===================================================================================*/

.entry-meta { font-weight: 500; font-size: 0.938rem; margin: 0 0 0.60rem; width: 100%; overflow: hidden; }
.entry-meta > span { color: #878e94; margin: 0px -5px 0px 0px; }
.entry-meta a { color: #878e94; padding: 0; }
.entry-meta a:hover, .entry-meta a:focus { color: #2d6ef8; }
.entry-meta span:after { font-family: FontAwesome; content: '\f111'; padding-left: 14px; Padding-right: 14px; font-size: 5px; vertical-align: middle; }
.entry-meta span:last-child::after { display: none; }
/*Meta Category*/
.entry-meta .cat-links a, .entry-meta .tag-links a { color: #2d6ef8; }
.entry-meta .cat-links a:after, .entry-meta .tag-links a:after { content: ','; padding-left: 1px; Padding-right: 5px; }
.entry-meta .cat-links a:last-child::after, .entry-meta .tag-links a:last-child::after { display: none; }
/*Meta Comments*/
.entry-meta .cat-links::before,
.entry-meta .tag-links::before,
.entry-meta .posted-on::before,
.entry-meta .comment-links a::before {
	font-family: FontAwesome;
	margin-right: 7px;
	margin-left: 1px;
	color: #ababab;
}
.entry-meta .tag-links::before { content: "\f02c"; }
.entry-meta .comment-links a::before { content: "\f0e5"; color: #2d6ef8; }
/*Meta Tags*/
.entry-meta .tag-links a {
    background-color: #fff;
    border: 1px solid #e9e9e9;
	color: #061018;
    font-size: 0.875rem;
    display: inline-block;
    padding: 0.188rem 1.25rem;
    margin: 0 0.500rem 0.625rem 0;
}
.entry-meta .tag-links a:hover {
    background-color: #2d6ef8;
    border: 1px solid #2d6ef8;
    color: #fff !important;
}
.entry-meta .tag-links::before,
.entry-meta .tag-links a:after {
	display: none;
}
/*Edit Post*/
.edit-link .post-edit-link { font-weight: 700; color: #333; }
.edit-link .post-edit-link:hover { text-decoration: underline; }
/*More Link*/
.more-link {
	font-size: 0.938rem;
	font-weight: 700;
	border-bottom: 2px solid #2d6ef8;
	margin: 1px;
}
.more-link:hover, .more-link:focus {
	color: #2d6ef8;
}
/*Pagination*/
.pagination { margin: 0 0 3.125rem; display: block; padding: 0; text-align: center; }
.pagination a {
	background-color: #eceff3;
	border: 1px solid #eceff3;
	color: #061018;
	cursor: pointer;
	display: inline-block;
	line-height: 1.5;
	font-weight: 600;
	transition: all 0.3s ease 0s;
	font-size: 1.125rem;
	border-radius: 50px;
	margin: 0 0.125rem 0.625rem;
	padding: 0.625rem;
	vertical-align: baseline;
	white-space: nowrap;
	width: 3.125rem;
	height: 3.125rem;
}
.pagination a:hover, .pagination a.active { background-color: #2d6ef8; border: 1px solid #2d6ef8; color: #fff; }
.pagination .nav-links .page-numbers.current {background-color: #2d6ef8; border: 1px solid #2d6ef8; color: #fff;}
.navigation.pagination .nav-links .page-numbers, .navigation.pagination .nav-links a {
	border: 1px solid #e9e9e9;
	cursor: pointer;
	display: inline-block;
	line-height: 1.5;
	font-weight: 600;
	transition: all 0.3s ease 0s;
	font-size: 1.125rem;
	border-radius: 50px;
	margin: 0 0.125rem 0.625rem;
	padding: 0.625rem;
	vertical-align: baseline;
	white-space: nowrap;
	width: 3.125rem;
	height: 3.125rem;
}


/*===================================================================================*/
/*	17.0 Blog Single
/*===================================================================================*/

.blog .standard-view.blog-single .post {
	border-bottom: none;
	padding: 0;
	margin-bottom: 4.375rem;
}
.blog .standard-view.blog-single .entry-content {
	border-bottom: 1px solid #eceff3;
	padding: 0 0 2.000rem;
	    display: block;
    overflow: hidden;
    margin: 0px;
}
.wp-block-gallery.is-cropped .blocks-gallery-image a, .wp-block-gallery.is-cropped .blocks-gallery-image img, .wp-block-gallery.is-cropped .blocks-gallery-item a, .wp-block-gallery.is-cropped .blocks-gallery-item img {
    height: 100% !important;
    flex: 1;
    -o-object-fit: cover;
    object-fit: cover;
}
.has-media-on-the-right.is-stacked-on-mobile
{
margin-top: calc(2 * 1rem);
    margin-bottom: calc(2 * 1rem);
    left: calc( -12.5% - 75px);
    max-width: calc( 125% + 150px);
}

@media only screen and (max-width: 991px) {
	#attachment_906 {
		width: 100% !important;
	}
}
/*Blog Author*/
.blog-author {
	background-color: #ffffff;
	border: 1px solid #eceff3;
	margin: 0 0 5rem;
	padding: 2.188rem 1.875rem 1.875rem;
}
.blog-author .avatar { margin: 0 2.5rem 0px 0; height: 12.5rem; width: 12.5rem; }
.blog-author .post-by { color: #878e94; font-size: 0.938rem; font-weight: 400; margin-bottom: 0.625rem; }
.blog-author .name { margin: 0 0 0.625rem; }

/*Comments*/
.comment-section {
	background-color: #ffffff;
	margin: 0 0 3rem;
	padding: 0;
}
.comment-title { display: block; }
.comment-reply-title {
    margin: 0 0 1.875rem;
    border-bottom: 1px solid #eceff3;
    padding-bottom: 0.625rem;
}
.comment-box { margin: 0; position: relative; }
.comment-detail {
	border-bottom: 1px solid #eceff3;
	margin: 0 0 2.813rem;
	padding-bottom: 1.25rem;
}
.pull-left-comment { float: left; margin-right: 1.875rem; width: 6.25rem; height: 6.25rem; }
.comment-detail-title { margin: 0 0 0.625rem; }
.comment-date { font-size: 0.875rem; color: #878e94; font-weight: 400; margin-left: 1.25rem; }
.comment-detail p { margin-bottom: 1.3rem; }
.reply a {
    color: #2d6ef8;
    font-size: 0.938rem;
    padding: 0;
    font-weight: 600;
    transition: 0.3s ease-in-out 0s;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-left: 1px;
}
.reply a:hover, .reply a:focus { color: #061018; }

/*Comment Form*/
.comment-form { margin-bottom: 3.75rem; }
.form-group input[type="text"],
.form-group input[type="email"] {
	height: 3.438rem;
}
.comment-section .children
{
	padding-left: 15%;
}
.comment-form-author
{
	float: left;
    padding-right: 5px;
    width: 50%;
}
.comment-form-email
{
	float: right;
    padding-left: 5px;
    width: 50%;
}
@media (max-width: 768px){
.comment-section .children {
    padding-left: 1%;
}}



/*===================================================================================*/
/*	18.0 Shop and product section
/*===================================================================================*/

.shop .container { overflow: hidden; }
.shop .owl-carousel .owl-stage-outer { overflow: visible; }
.products {
   background-color: #fff;
   padding: 0;
   margin: 0 0 3.75rem;
   transition: 0.3s;
   position: relative;
   text-align: center;
}
.woocommerce ul.products li.product .onsale, .woocommerce span.onsale {
    background: #2d6ef8;
}
.section-module.blog.woocommerce .page-title
{
	display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-bottom: 1px solid #e9e9e9;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    border: 1px solid #e9e9e9;
}
.woocommerce a:focus{
   outline-color: #000;
}
.woocommerce .comment-reply-title {
    border-bottom: none;
}
.woocommerce  .form-row {
    display: block;
    }
.woocommerce ul.products li.product .onsale, .products span.onsale{
	min-width: auto;
    min-height: auto;
	right: inherit;
    background: #2d6ef8;
    border: 2px solid #2d6ef8;
    color: #ffffff;
    border-radius: 0;
    font-size: 0.938rem;
    line-height: 1;
    font-weight: 500;
    padding: 3px 7px;
    margin: 0;
    position: absolute;
    left: 20px;
    top: 20px;
    transition: all 0.3s;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    transition: all 0.6s;
    text-align: center;
    padding: 0.4rem 0.4rem 1.5rem;
    margin-bottom: 2rem;
}
.woocommerce ul.products li.product .button, .owl-item .item .cart .add_to_cart_button {
    background: #2d6ef8;
        color: #fff;
}
.woocommerce a.remove, .woocommerce .woocommerce-Button, .woocommerce .cart input.button, .woocommerce input.button.alt, .woocommerce button.button, .woocommerce #respond input#submit, .woocommerce .cart input.button:hover, .woocommerce .cart input.button:focus, .woocommerce input.button.alt:hover, .woocommerce input.button.alt:focus, .woocommerce input.button:hover, .woocommerce input.button:focus, .woocommerce button.button:hover, .woocommerce button.button:focus, .woocommerce #respond input#submit:hover, .woocommerce #respond input#submit:focus, .woocommerce ul.products li.product:hover .button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce .return-to-shop a.button {
    color: #ffffff !important;
}
.woocommerce-page ul.products li.product:hover {
    box-shadow: 0 14px 25px 0 rgba(0,0,0,0.2);
}
.woocommerce ul.products li.product .price {
    display: block;
    color: #333333;
    font-size: 1.000rem;
    font-weight: 600;
    margin-bottom: .5em;
}
.woocommerce nav.woocommerce-pagination ul li {
    background: #ebe9eb;
    color: #333333;
    border-radius: 50%;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
    background-color: #2d6ef8;
    color: #ffffff;
}
.woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li {
    border: none;
    margin:3px;
}

.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', Sans-serif;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    font-size: 1.125rem;
    border-radius: 50%;
    margin: 0px;
    padding: 15px;
    vertical-align: baseline;
    white-space: nowrap;
    width: 50px;
    height: 50px;
}
.woocommerce-loop-product__title {
    font-size: 1.125rem !important;
    text-transform: capitalize;
}

.woocommerce div.product form.cart .button, .woocommerce a.button, .woocommerce a.button:hover, .woocommerce a.button, .woocommerce .woocommerce-Button, .woocommerce .cart input.button, .woocommerce input.button.alt, .woocommerce button.button, .woocommerce #respond input#submit, .woocommerce .cart input.button:hover, .woocommerce .cart input.button:focus, .woocommerce input.button.alt:hover, .woocommerce input.button.alt:focus, .woocommerce input.button:hover, .woocommerce input.button:focus, .woocommerce button.button:hover, .woocommerce button.button:focus, .woocommerce #respond input#submit:hover, .woocommerce #respond input#submit:focus, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    background: #2d6ef8;
    color: #fff;
    border: 1px solid transparent !important;
}
.woocommerce-page .cart input.button:hover, .woocommerce .cart input.button:focus, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:focus, .woocommerce input.button.alt:hover, .woocommerce input.button.alt:focus, .woocommerce input.button:hover, .woocommerce input.button:focus, .woocommerce button.button:hover, .woocommerce button.button:focus, .woocommerce #respond input#submit:hover, .woocommerce #respond input#submit:focus {
    box-shadow: none;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #2d6ef8;
    color: #fff;
}
.woocommerce-page .services .post{
    background-color: #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 2px #e9e9e9;
    border-radius: 0;
    margin-bottom: 40px;
    padding: 30px 15px 25px;
    transition: all 0.4s ease 0s;
}
.woocommerce-page .services .post .entry-content {
    display: block;
    overflow: hidden;
    margin: 0px;
}
.woocommerce table.shop_table {
    border-radius: 0;
    margin: 0 -1px 40px 0;
    padding: 0;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
    width: 200px;
    padding: 6px 12px;
    border-radius: 0;
    height: 44px;
}
.woocommerce-cart .cart-collaterals .cart_totals tr th, .woocommerce-cart .cart-collaterals .cart_totals tr td {
    border-top: none;
}
.woocommerce #review_form #respond textarea, .woocommerce-cart table.cart td.actions .coupon .input-text {
    border: 1px solid #e9e9e9;
}

.woocommerce ul.products li.product .price del, .woocommerce ul.products li.product .price ins, .woocommerce div.product p.price ins, .woocommerce ul.products li.product .price, .woocommerce .variations td.label, .woocommerce table.shop_table td, .woocommerce-cart .cart-collaterals .cart_totals table td, .woocommerce .woocommerce-ordering select, .woocommerce-cart table.cart td.actions .coupon .input-text, .select2-container .select2-choice {
    color: #64646d;
}
.woocommerce .wc-bacs-bank-details-heading, .woocommerce h2, .woocommerce .title h3 {
    font-size: 1.125rem !important;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    padding: .750rem 1.2rem;
    margin-bottom: 0;
    box-shadow: none;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    padding: 0.675rem 1.250rem 0.675rem 3rem;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    background-color: #fbfbfb;
    box-shadow: 0 7px 3px -5px #e0e0e0;
}
.woocommerce-message, .woocommerce-info {
    border-top-color: #2d6ef8;
}
.woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce .posted_in a, .woocommerce-product-rating a, .woocommerce .tagged_as a, .woocommerce div.product form.cart .variations td.label label, .woocommerce #reviews #comments ol.commentlist li .meta strong, .woocommerce table.shop_table th, .woocommerce-cart table.cart td a, .owl-item .item .cart .add_to_cart_button, .woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-error, .woocommerce-info, .woocommerce-message {
    color: #333333;
}
.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
    left: 1rem;
}
.woocommerce-message::before, .woocommerce-info::before {
    color: #2d6ef8;
}
.woocommerce {
    text-align: left;
}
.woocommerce form .form-row {
    padding: 0;
    margin: 0 0 15px;
}
.woocommerce form .form-row label, .woocommerce-page form .form-row label, .wc_payment_method label, .woocommerce #review_form #respond p label {
    font-weight: 600;
    font-size: 0.938rem;
}
.woocommerce form .form-row .required {
    text-decoration: none;
}
.woocommerce form .form-row input.input-text {
    border-radius: 0;
    height: 45px;
    padding: 6px 12px;
}
.woocommerce .col-1,.woocommerce .col-2 {
      max-width: 100% !important;
}
.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {
    padding: 6px 12px;
}
.woocommerce ul.products li.product .button, .woocommerce a.added_to_cart {
    box-shadow: none;
    font-weight: 700;
    line-height: 1.3;
    border-radius: 0px;
    padding: .600rem 0.7rem;
    transition: all 0.5s;
    margin-top: 0.7rem;
    height: auto;
    font-size: 0.9375rem;
}
.woocommerce div.product .stock {
    color: #2d6ef8;
}
.woocommerce p.stars a {
    color: #2d6ef8;
}
.woocommerce a.added_to_cart {
    background: #333333;
    border: 1px solid #ffffff;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    border-radius: 0;
    padding: 6px 12px;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #e9e9e9;
}
.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #2d6ef8;
}
.woocommerce div.product p.price {
    text-align: left;
    font-weight: 600;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    font-size: 1.25rem;
}
.woocommerce div.product form.cart {
    margin-top: 2rem;
    padding: 0;
}
.woocommerce .quantity .qty {
    width: 3.5rem;
    text-align: left;
    height: 44px;
    padding: .500rem 0.7rem;
    border-radius: 0;
}
.woocommerce div.product form.cart .button {
    padding: .800rem 1.2rem;
}
.woocommerce .posted_in a, .woocommerce-product-rating a, .woocommerce .tagged_as a {
    transition: all 0.5s;
    font-weight: 600;
}
.woocommerce div.product .woocommerce-tabs .panel {
    box-shadow: none;
    padding: 1rem 1rem 1rem;
    border-radius: 0;
}
.woocommerce div.product .woocommerce-tabs .panel {
    background: #fff;
    border: 1px solid #e9e9e9;
}
.woocommerce .related h2 {
    margin: 0 0 20px;
}
.woocommerce div.product div.summary {
    margin-bottom: 2em;
    padding: 0.4rem 0.9rem 1.5rem;
    background-color: #fff;
    border: 1px solid #e9e9e9;
}

.item-img { width: 100%; position: relative; }
.add-to-cart {
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	background: transparent padding-box content-box;
	padding: 0 2.5rem;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	transform: translateY(100%);
	z-index: 0;
}
.products:hover .add-to-cart { opacity: 1; visibility: visible; transform: translateY(0); }
.add-to-cart a {
    background: #21202e;
    display: inline-block;
    font-size: 0.875rem;
    padding: 8px 8px;
    color: #fff;
    font-weight: 600;
    border-radius: 2px;
}
.added_to_cart.wc-forward
{
background: #2d6ef8;
color: #fff;
}
.add-to-cart a:hover { background-color: rgba(6, 16, 24, 1); }
.add-to-cart a i { color: #fff; }
.product-price { padding: 1.25rem 0 1.125rem; }
.product-price > .woocommerce-loop-product__title { font-size: 1.125rem; text-transform: capitalize; margin-bottom: 5px; }
.product-price > .woocommerce-loop-product__title a:hover,
.product-price > .woocommerce-loop-product__title a:focus {
	color: #2d6ef8;
}
.product-price .woocommerce-Price-amount { color: #333333; font-size: 1.000rem; font-weight: 600; }
.product-price del { padding-right: 5px; }
.product-price del, .product-price del > span { color: #c0c0c0 !important; }

.products .onsale:hover, .products .onsale:focus {
	background: #333333;
    border: 2px solid #333333;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
   background-color: #2d6ef8;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
   background-color: #2d6ef8;
}
ul.products li.product .woocommerce-loop-product__link{display:block}
/*===================================================================================*/
/*	19.0 Widgets
/*===================================================================================*/

.widget {
	color: #333333;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.11);
	padding: 1.875rem 1.563rem 2.5rem;
	margin: 0 0 2.5rem;
}
.widget:last-child {
	margin-bottom: 3.75rem;
}
.widget a:hover,
.widget a:focus {
	color: #2d6ef8;
}
.widget .widget-title { position: relative; padding-bottom: 8px; }
.widget .widget-title:after {
	position: absolute;
	content: "";
    width: 45px;
	height: 2px;
	background: #2d6ef8;
	left: 0;
	bottom: 0;
}
.widget_archive ul, .widget_categories ul, .widget_links ul,
.widget_meta ul, .widget_nav_menu ul, .widget_pages ul,
.widget_recent_comments ul, .widget_recent_entries ul,.widget_product_categories li {
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
}
.widget_archive li, .widget_categories li, .widget_links li,
.widget_meta li, .widget_nav_menu li, .widget_pages li,
.widget_recent_comments li, .widget_recent_entries li {
    padding-left: 20px !important;
    padding-top: 12px;
    padding-bottom: 11px;
    border-bottom: 1px solid #f4f4f4;
	position: relative;
}
.widget_archive li:first-child, .widget_categories li:first-child, .widget_links li:first-child,
.widget_meta li:first-child, .widget_nav_menu li:first-child, .widget_pages li:first-child,
.widget_recent_comments li:first-child, .widget_recent_entries li:first-child, .widget_product_categories li:first-child{
    padding-top: 0;
}
.widget_archive li:last-child, .widget_categories li:last-child, .widget_links li:last-child,
.widget_meta li:last-child, .widget_nav_menu li:last-child, .widget_pages li:last-child,
.widget_recent_comments li:last-child, .widget_recent_entries li:last-child,.widget_product_categories li:first-child {
    padding-bottom: 0px;
    border-bottom: none;
}
.widget_archive li:before, .widget_categories li:before, .widget_links li:before, .widget_meta li:before,
.widget_nav_menu li:before, .widget_pages li:before, .widget_recent_comments li:before, .widget_recent_entries li:before{
    content: "\f10c";
	font-family: FontAwesome;
    position: absolute;
    right: auto;
    left: 0;
    font-size: 0.875rem;
	color: #2d6ef8;
	margin-top: 2px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
  .woocommerce-widget-layered-nav li a:before,.widget_product_categories li:before{
    content: "\f10c";
	font-family: FontAwesome;
    right: auto;
    padding-right: 10px;
    left: 0;
    font-size: 0.875rem;
	color: #2d6ef8;
	margin-top: 2px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
   }
   .woocommerce .star-rating span::before {
    color: #2d6ef8;
}
.woocommerce .star-rating::before {
    content: "\73\73\73\73\73";
    color: #2d6ef8;
    }
    .woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit:disabled:hover, .woocommerce #respond input#submit:disabled[disabled]:hover, .woocommerce a.button.disabled:hover, .woocommerce a.button:disabled:hover, .woocommerce a.button:disabled[disabled]:hover, .woocommerce button.button.disabled:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover, .woocommerce input.button.disabled:hover, .woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover {
    background-color: #2d6ef8;
}
 .woocommerce .woocommerce-product-search{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.woocommerce .search-field{
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
	border-radius:unset;
}

.woocommerce button[type="submit"] {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: #061018;
}
/*Search*/
.widget input[type="text"] {
    padding: 1.0rem 1rem;
}
.widget.widget_search .input-group .form-control{
    padding: 1.0rem 1rem !important;
}
.widget button[type="submit"] {
    background-color: #2d6ef8;
	border-color: #2d6ef8;
	color: #fff;
}
.widget button[type="submit"]:hover,
.widget button[type="submit"]:focus {
    color: #fff;
    background-color: #061018 !important;
    border-color: #061018 !important;
}
.btn-success.focus, .btn-success:focus {
    box-shadow: 0 0 0 0.063rem rgba(0,0,0,.5) !important;
}
/*Recent Widget*/
.widget_recent_entries a {
	font-weight: 600;
}
.widget_recent_entries .post-date {
	font-size: 0.938rem;
	display: block;
}

/*Post Widget*/
.widget .post { background: transparent; margin: 0 0 1.25rem !important; padding: 0 0 0.75rem; box-shadow: none; border-bottom: 1px solid #f5f5f5; }
.widget .post:hover { background: transparent; box-shadow: none; }
.widget .post:last-child { margin: 0px !important; padding: 0px; border-bottom: none !important; }
.widget .post .entry-title { margin: 0; display: block; font-size: 1.000rem !important; word-wrap: break-word; }
.widget .post a.post-thumbnail { display: block; float: left; width: 7.5rem; height: auto; margin-right: 1.25rem; }
.widget .post .entry-meta { font-size: 0.813rem; margin: -0.188rem 0 0.5rem; }
.widget .post .entry-meta span { margin: 0px; }
.widget .post .entry-meta span:before { display: none; }
/*Tags*/
.tagcloud {
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.site-footer .widget .tagcloud a{
background-color: #000;
}
.widget .tagcloud a {
    background-color: #fff;
    border: 1px solid #e9e9e9;
	font-size: 0.875rem !important;
	display: inline-block;
	padding: 0.188rem 1.25rem;
	margin: 0 0.188rem 0.625rem;
}
.widget .tagcloud a:hover, .widget .tagcloud a:focus{
    background-color: #2d6ef8;
    border: 1px solid #2d6ef8;
	color: #fff !important;
}
body .sidebar.s-l-space .widget .tagcloud a:hover{color: #fff !important;}
/*Gallery*/
.widget.widget_media_gallery img
{
max-width: 100%;
height: auto;
}
.gallery { display: flex; flex-flow: row wrap; justify-content: center; margin-bottom: 0; }
.gallery-item { display: inline-block; margin-right: 16px; margin-bottom: 16px; text-align: center; vertical-align: top; width: 100%; }
.gallery-columns-2 .gallery-item { max-width: calc((100% - 16px * 1) / 2) !important; }
.gallery-columns-2 .gallery-item:nth-of-type(2n+2) { margin-right: 0 !important; }
.gallery-columns-3 .gallery-item { max-width: calc((100% - 16px * 2) / 3) !important; }
.gallery-columns-3 .gallery-item:nth-of-type(3n+3) { margin-right: 0 !important; }
.gallery-columns-4 .gallery-item { max-width: calc((100% - 16px * 3) / 4) !important; }
.gallery-columns-4 .gallery-item:nth-of-type(4n+4) { margin-right: 0 !important; }
.gallery-columns-5 .gallery-item { max-width: calc((100% - 16px * 4) / 5) !important; }
.gallery-columns-5 .gallery-item:nth-of-type(5n+5) { margin-right: 0 !important; }
.gallery-columns-6 .gallery-item { max-width: calc((100% - 16px * 5) / 6) !important; }
.gallery-columns-6 .gallery-item:nth-of-type(6n+6) { margin-right: 0 !important; }
.gallery-columns-7 .gallery-item { max-width: calc((100% - 16px * 6) / 7) !important; }
.gallery-columns-7 .gallery-item:nth-of-type(7n+7) { margin-right: 0 !important; }
.gallery-columns-8 .gallery-item { max-width: calc((100% - 16px * 7) / 8) !important; }
.gallery-columns-8 .gallery-item:nth-of-type(8n+8) { margin-right: 0 !important; }
.gallery-columns-9 .gallery-item { max-width: calc((100% - 16px * 8) / 9) !important; }
.gallery-columns-9 .gallery-item:nth-of-type(9n+9) { margin-right: 0 !important; }
.gallery-item:last-of-type { padding-right: 0; }
.gallery-caption {
  display: block;
  font-size: 0.71111em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0.5rem;
}
.gallery-item > div > a {
  display: block;
  line-height: 0;
  box-shadow: 0 0 0 0 transparent;
}
.gallery-item > div > a:focus {
  box-shadow: 0 0 0 2px #0073aa;
}
.standard-view.blog-single .gallery-item > div > a:focus {
    box-shadow: none;
    outline: thin dotted;
}
/*Address*/
address i {
	color: #2d6ef8;
	width: 25px;
	height: auto;
	margin-right: 5px;
}

/*Footer Social Links*/

[class^="footer-social-links"] {
	position: relative;
	margin-bottom: 80px;
}
[class^="footer-social-links"]:before, [class^="footer-social-links"]:after {
	content: "";
	position: absolute;
}
.footer-social-links {
	width: 100%;
	height: auto;
	margin-top: 2.188rem;
	padding: 1.000rem;
	background: #2d6ef8;
	top: -30px;
	margin-bottom: -1.875rem;
}
.footer-social-links:before {
	height: 0;
	width: 0;
	border-bottom: 30px solid #1d4498;
	border-left: 20px solid transparent;
	top: 0px;
	left: -20px;
}
.footer-social-links:after {
	height: 0;
	width: 0;
	border-bottom: 30px solid #1d4498;
	border-right: 20px solid transparent;
	right: -20px;
	top: 0px;
}
.footer-social-links .custom-social-icons span { font-size: 1.25rem; font-weight: 600; }
.footer-social-links .custom-social-icons li { padding: 0.313rem 2.8rem 0.313rem 0; }
.footer-social-links .custom-social-icons li:first-child { padding-right: 1.875rem; }
.footer-social-links .custom-social-icons li:last-child { padding-right: 0; }
.footer-social-links .custom-social-icons li a i { padding: 0 1.25rem 0 0; font-size: 1.375rem; position: relative; top: 1px; }


/*===================================================================================*/
/*	19.1 Footer Section & Widgets
/*===================================================================================*/

.site-footer {
	background-color: #061018;
	margin: 0;
	padding: 0;
	position: relative;
}
.footer-sidebar { padding: 5.625rem 0 2.813rem; }
.footer-sidebar .widget { margin: 0 0 3.125rem; padding: 0; }
.footer-sidebar .widget-title { color: #fff; margin-bottom: 2.813rem; }

.footer-sidebar .widget, .footer-sidebar .widget a { color: #fff; }
.footer-sidebar .widget a:hover,
.footer-sidebar .widget a:focus {
	color: #2d6ef8;
}
.textwidget img
{
	max-width: 100%;
	height: auto;
}
/*Recent Widget*/
.footer-sidebar .widget_recent_entries .post-date {
	color: #bec3c7;
}
/**/
.footer-sidebar .widget_archive li, .footer-sidebar .widget_categories li, .footer-sidebar .widget_links li,
.footer-sidebar .widget_meta li, .footer-sidebar .widget_nav_menu li, .footer-sidebar .widget_pages li,
.footer-sidebar .widget_recent_comments li, .footer-sidebar .widget_recent_entries li {
    padding-top: 0px;
    padding-bottom: 14px;
    border-bottom: none;
}


/*===================================================================================*/
/*	19.2 Footer copyright
/*===================================================================================*/

.site-info { background-color: #020508; color: #bec3c7; font-size: 0.938rem; padding: 1.25rem 0; }
.site-info a { color: #ffffff; }
.site-info a:hover, .site-info a:focus { color: #2d6ef8; }


/*===================================================================================*/
/*	20.0 Page section
/*===================================================================================*/

.page-title-section {
	background: #17212c url('assets/images/page-title.jpg');
	background-attachment: scroll;
	background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	padding: 126px 0;
	width: 100%;
	height: 100%;
}
.page-title-section:after {
    content: '';
    position: absolute;
    bottom: -49px;
    left: 0;
    right: 0;
    height: 49px;
    background: url("assets/images/shadow.png") no-repeat;
    z-index: 1;
    background-position: center bottom;
}
.page-title-section .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}
.page-title { position: relative; word-wrap: break-word; }
.page-title h1 { font-size: 2.625rem; margin: 0; }
.page-breadcrumb { list-style: none; margin: 0; padding: 0.313rem 0 0; }
.page-breadcrumb > li { color: #fff; display: inline-block; }
.page-breadcrumb > li:first-child:before { color: #2d6ef8; font-family: fontAwesome; content: "\f015"; padding: 0 0.625rem 0 0; }
.page-breadcrumb > li + li:before { color: #fff; font-family: fontAwesome; content: "\f101"; padding: 0 0.625rem 0 0.413rem; }
.page-breadcrumb > li a { color: #fff; }
.page-breadcrumb > li a:hover,
.page-breadcrumb > li.active { color: #2d6ef8; }
.breadcrumb_last
{
	word-wrap: break-word;
}
.page-breadcrumb.text-center span a
{
	color: #fff;
	padding-right: 5px;
}
.page-breadcrumb.text-center span
{
	color: #fff;
	padding-left: 5px;
}

.page-breadcrumb.text-center span a:hover {
    color: #2d6ef8;

}
.breadcrumb_last
{
	color: #2d6ef8 !important;
}


/*===================================================================================*/
/*	21.0 Contact
/*===================================================================================*/

.contact-widget { margin: 0 0 3.75rem; padding: 3rem 1.000rem 2.5rem; transition: 0.3s; border: 1px solid #eceff3; }
.contact-icon { position: relative; transition: all 0.2s; text-align: center; margin: 0 auto 0.938rem; }
.contact-icon i.fa { transition: all 1.2s; color: #2d6ef8; font-size: 2.5rem; line-height: 1; position: relative; }
.contact-widget:hover .contact-icon i.fa { color: #2d6ef8; transform: rotateY(360deg); }
.contact-widget .title { margin: 0 0 1.200rem; font-size: 1.375rem; }
.contact-widget address { margin: 0; }
.contact-widget address a:hover { color: #2d6ef8; }
.contact-widget:hover {
    background-color: #f5f6fa;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
}
/*Contact Map*/
#google-map { padding: 0 0 50px; }
.contact-form-map .title { margin: 0 0 1.200rem; font-size: 1.375rem; }
.contact-form-map .title h3 {
	border-bottom: 1px solid #eceff3;
	padding-bottom: 0.625rem;
	margin-bottom: 2.5rem;
	font-size: 1.75rem;
}
/*Contact Form 7*/
.wpcf7-form { padding: 0 0 50px; }
.wpcf7-form p { margin: 0 0 1.2rem; }
.wpcf7-form p:last-child { margin: 0; }
.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form input[type="url"],
.wpcf7-form input[type="password"],
.wpcf7-form input[type="search"],
.wpcf7-form input[type="number"],
.wpcf7-form input[type="tel"],
.wpcf7-form input[type="range"],
.wpcf7-form input[type="date"],
.wpcf7-form input[type="month"],
.wpcf7-form input[type="week"],
.wpcf7-form input[type="time"],
.wpcf7-form input[type="datetime"],
.wpcf7-form input[type="datetime-local"],
.wpcf7-form input[type="color"] {
	height: 3.438rem;
}
.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form input[type="url"],
.wpcf7-form input[type="password"],
.wpcf7-form input[type="search"],
.wpcf7-form input[type="number"],
.wpcf7-form input[type="tel"],
.wpcf7-form input[type="range"],
.wpcf7-form input[type="date"],
.wpcf7-form input[type="month"],
.wpcf7-form input[type="week"],
.wpcf7-form input[type="time"],
.wpcf7-form input[type="datetime"],
.wpcf7-form input[type="datetime-local"],
.wpcf7-form input[type="color"],
.wpcf7-form textarea {
	margin-top: 0.375rem;
}
.wpcf7-form input[type="submit"] {
	margin-top: 5px;
}


/*===================================================================================*/
/*	22.0 404 ERROR PAGE
/*===================================================================================*/

.error-page { padding: 10rem 0 13rem; }
.error-page .title { font-size: 20.625rem; line-height: 1; letter-spacing: 0.938rem; font-weight: 600; margin-bottom: 1.25rem; }
.error-page .title i { color: #2d6ef8; }
.error-page .sub-title { font-size: 2.25rem; letter-spacing: 0.2rem; margin-bottom: 0.938rem; }
.error-page p { font-size: 1.125rem; color: #878e94; }
.error-page .btn-small { font-weight: 700; }
@media (max-width: 768px) {
	.error-page { padding: 9rem 0 11.5rem; }
	.error-page .title { font-size: 15rem; }
}

/*===================================================================================*/
/*	23.0 Mobile Header Responsive
/*===================================================================================*/
@media (max-width: 600px){
.navbar-toggler {
   float: none;
   margin: 10px auto 25px;
   display: block;
}
.navbar-brand {
    margin: 0 auto;
   float: none;
   display: block;
   text-align: center;
   padding: 15px 15px 15px 15px;
}
  .navbar .container{display:block;}
 .custom-logo-link-url {
  text-align:center;
   margin: 0 auto;
  padding: 10px 15px;
  display: block;
}

}
.site-title {
   height: auto;
   font-size: 1.875rem;
   line-height: 1.3;
   font-weight: 600;
   margin: 0;
   padding: 0px;
        word-wrap: break-word;
}
.site-title a{
	color: #061018;
}
.site-description {
   padding: 0;
   margin: 0;
   color: #5f5555;
}

.collapse.navbar-collapse > div
{
	    margin-left: auto !important;
}

/*===================================================================================*/
/*	24.0 Alignment
/*===================================================================================*/
 .comment-form-url, .comment-form-cookies-consent, .comment-notes
{
	display: none;
}
.wp-caption-text{
	text-align: center;
}
 .bypostauthor{}
.alignleft {
    display: inline;
    float: left;
    margin-right: 20px !important;
}
.wp-block-button.alignright {
    display: inline;
    float: right;
    margin-left: 20px;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.alignright, .wp-caption.alignright {
    margin-left: 30px;
    float: right;
}
#attachment_907 {
    width: 100% !important;
}
.section-module.services img, .section-module.services figure
{
	max-width: 100%;
	height: auto;
}
.standard-view.blog-single .img-fluid.wp-post-image {
    width: auto;
}
.standard-view.blog-single h2 > a
{
	word-wrap: break-word;
}


/*===================================================================================*/
/*	25.0 Accessibility
/*===================================================================================*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*===================================================================================*/
/*	26.0 Other
/*===================================================================================*/
 .post .post-thumbnail a:focus,.blog .post-thumbnail a:focus{
        outline: 5px auto -webkit-focus-ring-color;
}
.entry-content a
{
	font-weight: 700;
}
.entry-content a:hover, .entry-content a:focus {
    color: #2d6ef8;
}
 .post .post-thumbnail a,.blog .post-thumbnail a{
        display: block;
        margin: 1px;
}
@media (min-width: 1200px){
_:-ms-fullscreen, :root .navbar-expand-lg .navbar-collapse{width: 100%;display: block!important;}
_:-ms-fullscreen, :root .navbar .custom-logo-link-url{width: 30%;}
_:-ms-fullscreen, :root .navbar .nav{float: right;}
}
.blog .post .entry-content a, .page .post .entry-content a{text-decoration:underline!important;}
body .post .entry-content .more-link{text-decoration: none!important;}
.comment-section .media-body a,.textwidget a{text-decoration:underline!important;}
.wp-block-button__link {
    color: #fff !important;
    }
.customizer_heading{margin-bottom: 0;}
body #wrapper .woocommerce-cart-form .cart_item a,body #wrapper .entry-content .wc-proceed-to-checkout a,body #wrapper .entry-content .woocommerce-LoopProduct-link.woocommerce-loop-product__link, body #wrapper .entry-content .button.product_type_variable.add_to_cart_button, body #wrapper .button.product_type_simple{text-decoration: none !important;}
.woocommerce img.custom-logo, .woocommerce-page img.custom-logo{height: unset;max-width: unset;}
body .sidebar.s-l-space .sidebar a.wc-forward, body .sidebar.s-l-space .sidebar a.wc-forward:hover, body .sidebar.s-l-space .widget a.wc-forward:hover, .widget a.wc-forward:focus, body .sidebar.s-l-space .sidebar a.wc-forward:hover, body .sidebar.s-l-space .widget a.wc-forward:hover, .widget a.wc-forward:focus, body a.button.wc-forward , body #wrapper .footer-sidebar  a.wc-forward{
    color: #fff !important;
}
.section-module.services4.service_wrapper #service_content_section .post p{color: #ffffff;}
body #wrapper .sidebar .widget.woocommerce a:hover{color: #2d6ef8;}
body .cross-sells h2, body .cart_totals h2, body .cross-sells h2.woocommerce-loop-product__title, body .woocommerce-Tabs-panel h2{font-family: 'Open Sans' !important; font-size: inherit !important;}
.navbar {background-color: #ffffff;}
@media (min-width: 1200px){
body.boxed {
    width: 1210px;
    -webkit-box-shadow: 0 0 10px 0 rgb(48 48 48 / 50%);
    box-shadow: 0 0 10px 0 rgb(48 48 48 / 50%);
    margin: 30px auto;
    position: relative;
   }}

.stickymenu {
    position: fixed !important;
    width: 100%;
    box-shadow: 0 3px 5px rgb(0 0 0 / 5%);
    z-index: 1000;
    background-color: #ffffff;
}
@media (min-width: 1200px){
body.boxed.admin-bar .stickymenu{top:30px;}
body.boxed .stickymenu{top:0;}
}
@media only screen and (max-width: 600px) {
	.stickymenu {
		top: 0;
	}
}
@media (min-width: 1200px){
body.boxed .header-sticky {
    width: 1210px;
}}

.scroll-up a {
    display: block;
    height: 3.125rem;
    width: 3.125rem;
    text-align: center;
    line-height: 2.7;
    border-radius: 50px;
    font-size: 1.125rem;
    color: #fff;
    opacity: 1;
    transition: all 0.3s ease 0s;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
.scroll-up a {
    background: #2d6ef8;
}
.scroll-up {
    position: fixed;
    display: none;
    bottom: 50px;
    z-index: 999;
}
.scroll-up.right {
    right: 30px;
}
.custom-logo{max-width: 100%; height: auto;}

.honeypress_header_btn{
	background-color: #2d6ef8;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.938rem;
    font-weight: 600;
    line-height: 1;
    padding: 0.75rem 1.3rem;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}
.honeypress_header_btn:hover,.honeypress_header_btn:focus{background: #061018;color: #fff;}

.nav-search {
    margin-right: 25px;
    display: inline-block;
    line-height: 16px;
    position: relative;
    top: 0px;
}
.nav-link.search-icon .sub-arrow {
    display: none !important;
}
.navbar .search-box-outer .dropdown-menu {
    top: 50px !important;
    left: auto !important;
    right: 0px;
    padding: 0px;
    width: 324px !important;
    border-radius: 0px;
    border: 0;
    margin: 0px !important;
    background-color: #fff !important;
}
.search-box-outer .dropdown-menu > li {
    padding: 0px;
    border: none;
    background: none;
}
.search-panel .form-container {
    padding: 10px 0 2px 0;
}
.search-form {
    width: 100%;
}
.search-form label {
    width: 98%;
}
.search-panel input[type="search"] {
    display: block;
    width: 100%;
    height: 40px;
    /* color: #000000; */
    line-height: 24px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 7px 90px 7px 7px;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    font-size: large;
}
.search-form input[type="submit"] {
    cursor: pointer;
    position: absolute;
    width: auto;
    transition: all .3s ease-in-out;
    color: #fff;
    font-weight: 600;
    height: 40px;
    left: auto;
    right: 8px;
    font-size: 15px;
    top: 17px;
    padding: 12px 25px;
}
@media only screen and (max-width: 768px){
	.dropdown-menu.pull-right.search-panel
	{
	left: 0 !important;
    right: auto !important;
    width: 300px !important;
    top: 37px !important;
    position: absolute;
	}
}
@media (max-width: 991px){
.navbar .nav .search-box-outer .dropdown-menu {
    box-shadow: 0 4px 7px 0 rgb(0 0 0 / 12%), 0 3px 12px 0 rgb(0 0 0 / 12%);
}
.honeypress_header_btn{line-height: 5;}
.main-header-btn{border-bottom: 1px solid #ededed55;}
}

@media (max-width: 320px){
.navbar .nav .search-box-outer .dropdown-menu {
    width: 265px !important;
}}
.header-module.search-woo .cart-header{border-left: 1px solid #cfddea;padding-left: 30px;}
.cart-header{border-left: 1px solid transparent;padding-left: 0;}

@media (min-width: 992px){
.main-header-btn {
    padding-bottom: 1.125rem;
}
.radix-btn.main-header-btn {
    padding-top: 0.75rem;;
}
.nav-item.html.menu-item h1, .nav-item.html.menu-item h2{line-height:.9;margin: 0;}
.nav-item.html.menu-item h3{line-height:1.0;margin: 0;}
.nav-item.html.menu-item h4{line-height:1.3;margin: 0;}
.nav-item.html.menu-item h5{line-height:1.8;margin: 0;}
.nav-item.html.menu-item h6{line-height:2.0;margin: 0;}
}
.navbar .nav .nav-item:hover .search-icon
{color:#000 !important;}
.navbar .nav .nav-item .search-icon:hover {color:#2d6ef8 !important;}

/* Loader css */
div#preloader {
    margin: auto;
   position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999999;
    display: flex;
    align-content: center;
    justify-content: center;
}

.hp-preloader-cube {
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    position: absolute;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.hp-preloader-cube .hp-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.hp-preloader-cube .hp-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}


.hp-preloader-cube .hp-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.hp-preloader-cube .hp-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.hp-preloader-cube .hp-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-animation: hp-foldCubeAngle 2.4s infinite linear both;
    animation: hp-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    background: #2d6ef8;
}

.hp-preloader-cube .hp-cube2:before {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.hp-preloader-cube .hp-cube4:before {
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}

.hp-preloader-cube .hp-cube3:before {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

@keyframes hp-foldCubeAngle{0%,10%{-webkit-transform:perspective(140px) rotateX(-180deg);transform:perspective(140px) rotateX(-180deg);opacity:0}25%,75%{-webkit-transform:perspective(140px) rotateX(0);transform:perspective(140px) rotateX(0);opacity:1}100%,90%{-webkit-transform:perspective(140px) rotateY(180deg);transform:perspective(140px) rotateY(180deg);opacity:0}}

@media (min-width: 1200px){
body.boxed div#preloader { width: 1210px; }}
body .navbar .nav > li > a.honeypress_header_btn{font-family: open sans; font-size: 15.008px;line-height: 28px;}
#service_content_section{word-wrap: break-word;}
#video_slider {
    position: absolute;
    bottom: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}
.video-slider.hero-section{height: 750px;overflow: hidden;}
.blog.index-page,.services4.service_wrapper,.services2.service_wrapper,.blog.masanary,.services3.service_wrapper,.services5.service_wrapper{background: #ffffff;}


/*=======  SOCIAL ICONS ========*/
.custom-social-icons { margin: 0; padding: 0; }
.custom-social-icons li { display: inline-block; padding: 0.313rem 0.5rem; }
.custom-social-icons li a.facebook-f:hover, .custom-social-icons li a.facebook:hover { color: #3b5998 ; }
.custom-social-icons li a.twitter:hover { color: #15b4c9 ; }
.custom-social-icons li a.linkedin:hover { color: #006599 ; }
.custom-social-icons li a.instagram:hover { color: #8a3ab9 ; }
.custom-social-icons li a.youtube:hover { color: #cc2423 ; }
.custom-social-icons li a.skype:hover { color: #40beee ; }
.custom-social-icons li a.vimeo:hover { color: #aad450 ; }
.custom-social-icons li a.dribbble:hover { color: #c7366f ; }
.custom-social-icons li a.facebook:focus, .custom-social-icons li a.twitter:focus, .custom-social-icons li a.linkedin:focus, .custom-social-icons li a.instagram:focus, .custom-social-icons li a.youtube:focus, .custom-social-icons li a.skype:focus, .custom-social-icons li a.vimeo:focus, .custom-social-icons li a.dribbble:focus { color: #fff ; }

.custom-social-icons li > a:before { display: none; }
.custom-social-icons li > a {
    font-size: 0.938rem;
    line-height: 2;
    transition: all 0.3s;
    display: block;
    color: #fff;
    border-radius: 0;
    cursor: pointer;
    box-shadow: none;
    margin: 0;
    padding: 0px;
    text-align: center;
}
.custom-social-icons li a i { padding: 0; }

@media (min-width: 768px){
  .header-sidebar .honeypress_social_icon_widget .custom-social-icons {
      float: right;
  }
}
@media (min-width:992px){
	.nav-item .header-module{margin-bottom:2rem;}
}
@media (max-width: 991px){
	.navbar .nav .nav-item.main-header-btn {
	    padding-top: 15px;
	    padding-bottom: 15px;
	}
	.navbar-nav.sm-collapsible .search-box-outer .sub-arrow{
		display:none;
	}
	.navbar-nav.sm-collapsible .search-icon.has-submenu {
    	padding-right: 0.5em;
	}
}

/*=======  WORDPRESS 5.8 WIDGET CSS ========*/
.wp-block-search .wp-block-search__label{
font-size: 1.875rem;
line-height:1.5;
}
.widget .head-contact-info li {
    padding: 0 1.875rem 0 0;
  }
  .widget .head-contact-info li::before {display: none;}
.widget.widget_search input {
   padding: 0.8rem 1rem !important;
	font-size: 1rem;
	-webkit-border-radius: 0;
    border-radius: 0;
}
.widget.widget_search button{
	display: inline-block;
    font-weight: 400;
    padding: .175rem .75rem;
    border-radius: .25rem;
	  margin-left:0;
	border-radius:0;
}
.wp-block-search .wp-block-search__label,.widget h1,.widget h2,.widget h3,.widget h4,.widget h5,.widget h6{
	  margin-bottom:1.875rem;
}
.wp-block-search .wp-block-search__label:after,.widget h1:after,.widget h2:after,.widget h3:after,.widget h4:after,.widget h5:after,.widget h6:after{
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
	display:block;
	margin-top:5px;
    background: #2d6ef8;
}
.widget li{
	padding:12px 20px 11px;
    border-bottom: 1px solid #f4f4f4;
    position: relative;
	line-height:1.875;
}
.widget li::before{
	content: "\f10c";
    font-family: FontAwesome;
    position: absolute;
    right: auto;
    left:0;
    font-size: 0.875rem;
    margin-top: 2px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	color: #2d6ef8;
}
.widget li:first-child{
	padding-top:0;
}
.widget li{list-style-type:none;}
.widget li:last-child{
  padding-bottom: 0px;
  border-bottom: none;
}
.widget ul,.widget ol{
	list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}
.widget .tag-cloud-link{
	background-color: #fff;
    border: 1px solid #e9e9e9;
    font-size: 0.875rem !important;
    display: inline-block;
    padding: 0.188rem 1.25rem;
    margin: 0 0.188rem 0.625rem;
}
 .widget .tag-cloud-link:hover {
    color: #fff !important;
}
.widget .tag-cloud-link:hover, .widget .tag-cloud-link:focus {
    background-color: #2d6ef8;
    border: 1px solid #2d6ef8;
}
.wp-calendar-nav-prev a{
     float: left;
}
.wp-block-calendar table th {
	text-align: center;}

element.style {
}
body .sidebar p, body .sidebar .woocommerce-Price-amount.amount, .sidebar .quantity, body .sidebar #wp-calendar, body .sidebar #wp-calendar caption {
    color: #061018;
}
 .wp-block-calendar table {
	margin-bottom: 0;}
.site-footer .wp-block-search .wp-block-search__label,.site-footer .widget h1,.site-footer .widget h2,.site-footer .widget h3, .site-footer .widget h4,.site-footer .widget h5,.site-footer .widget h6 {
	color:#ffffff;
}
 .widget .wp-block-gallery li:before,.widget .custom-social-icons li:before{
	display:none;
}
.widget .custom-social-icons li{
	border:unset;
	padding: 0.313rem 0.5rem;
}
.widget .wp-block-gallery li{padding:0;}
.site-footer .widget .tag-cloud-link {background-color: #000;}
.site-footer .widget .tag-cloud-link:hover {  background-color: #2d6ef8;}
.site-footer .wp-block-calendar table caption,.site-footer .wp-block-calendar table tbody {
    color: #ffffff;
}
.site-footer .wp-block-calendar table th {
    text-align: center;
    color: #000;
}
.site-footer .widget li { border-bottom: unset; }
.widget.widget_search input {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.widget.widget_search button {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.wc-block-grid__products li:before{display:none;}
.widget .wc-block-grid__products li { padding: 0px;}
.widget .wc-block-grid__product-add-to-cart{font-size: 0.6em;}
.wc-block-featured-product__wrapper .wc-block-featured-product__title:after{display:none;}
.wc-block-featured-product__wrapper .wc-block-featured-product__description p{color:#fff;}
.widget .wc-block-featured-product__price span,.widget .wc-block-featured-product__price .woocommerce-Price-amount.amount{color:#fff;}

.widget .head-contact-info li{
	 border-bottom:unset;
}
body.auto-fold.loaded{background-color: #F0F0F0;}
body.auto-fold.loaded li,body.auto-fold.loaded li a{color: #000;}


.site-footer .wp-block-latest-posts__post-author, .site-footer .wp-block-latest-posts__post-date{
	color: #fff;
}
.wp-block-image img{
    height: auto;
}
.wp-block-social-links li::before {
    content: none;
}
.wp-block-social-links li:first-child{
	 padding-top:10px; 
}
.wp-block-social-links .wp-social-link {
	padding: 10px;
}
.sidebar p a:not(.wp-block-tag-cloud a),.site-footer p a:not(.wp-block-tag-cloud a, .site-info a){text-decoration: underline !important;}