/* Page model */

body {
    margin: 2% 10%;
    font-family: sans-serif;
    color: #333;
}

fieldset {
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid rgb(200,200,200);
}

legend {
    padding: 0 7px;
    font-size: 20px;
    color: #555;
}

span {
    text-decoration: underline;
}