/* Page model */

html{
    scroll-behavior: smooth;
}

body {
    margin: 2% 10%;
    font-family: sans-serif;
    color: #333;
}

fieldset {
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid rgb(200,200,200);
}

legend {
    padding: 0 7px;
    font-size: 20px;
    color: #555;
}

li{
    animation-name: test;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

/* Classe qui permet de cibler les balises pour lesquelles ont applique l'attribut "class" */
.icons{
    list-style-type: none;
}

.orange{
    /* color: coral; */
    animation: rainbowColor 20s infinite;
}

@keyframes rainbowColor{
    0%{
        color: red;
    }
    25%{
        color: rgb(22, 22, 177);
    }
    50%{
        color: brown;
    }
    75%{
        color: rgb(179, 179, 5);
    }
    100%{
        color: red;
    }
}