/* Created 2021-14-12 */

body {
	font-size: 100%;
}

/* Unités absolues */
/* Utiliser de préférence les unités relatives sauf si contraintes graphiques */

.pt {
	font-size: 12pt; /* Le point 12pt = 16px*/
}

.pc {
	font-size: 1pc; /* Le pica 1pc = 16px */
}

.mm {
	font-size: 4.4mm;
}

.px {
	font-size: 16px; /* Unité de mesure par défaut: relatif à l'appareil de visualisation */
}

/* Unités relatives */

/* Utilisé le plus souvent pour les espacements (templating) */
.percent {
	font-size: 100%;
}

/* en (cadratain) 1em = 16px */
/* Il fait toujours référence à l'élément parent */
.em {
	font-size: 1em;
}

/* rem (root em) 1rem = 16px */
/* Il fait toujours référence à l'élément racine (root) */
.rem {
	font-size: 1rem;
}

/* Différence entre em et rem */

/* li {
	font-size: 2em;
} */

li {
	font-size: 2rem;
}
