div {
    padding: 0.4rem;
    color: #fff;
}

.about div:nth-child(1) {
    background-color: rgb(73, 72, 72);
}

.about div:nth-child(2) {
    background-color: rgb(182, 64, 64);
}

.about div:nth-child(3) {
    background-color: rgb(42, 77, 141);
}

.about div:nth-child(4) {
    background-color: rgb(40, 82, 13);
}